body{ 	
	width:900px;
	margin: 0 auto;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
.clearfix { display: inline-table; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */

td.gsc-search-button {
	display: none !important;
}

.cse .gsc-control-cse, .gsc-control-cse {
	background-color: transparent !important;
	border: none !important;
}

#contentHome {
	background-image: url("../images/home.jpg");
	height: 857px;	
}
#contentMercado {
	background-image: url("../images/mercado.jpg");
	height: 1023px;
}
#contentRecetas {
	background-color: #77c048;
	height:822px;
}
#contentFraude {
	background-image: url("../images/fraude.jpg");
	height: 1013px;
}
#contentContactos {
	background-image: url("../images/contactos.jpg");
	height: 690px;
}
#contentContactos2 {
	background-image: url("../images/contactos2.jpg");
	height: 810px;
}
#contentNutricion {
	background-image: url("../images/nutricion.jpg");
	height: 824px;
}
#contentPautas{
	background-image: url("../images/pautas.jpg");
	height: 866px;
}

#header{ 	
	height: 126px;
}

#header .top {
	width:900px;
	height: 67px;
/*	position:absolute;*/
	clear:left;

}

#header .titulo {	
	width: 458px;
	float:left;
}

#header .buscador {
	float:left;
	width: 442px;
	height: 67px;
}

#header .buscador input{
	margin-left: 94px;
	margin-top: 27px;
	width: 295px;
	border:solid 1px rgb(184,214,224);
	border-radius:8px;
	height:50px;
}
#header .buscador input:focus{
	box-shadow:0 0 15px #036;
 }
#header .menu {
/*	position:relative;
	top:66px;*/
	position:absolute;
	padding-left: 60px;
	height: 59px;
}
#header .menu li
{
	display: inline;
	list-style-type: none;
	padding-right: 10px;
	width: 188px;
	height: 47px;
	margin-left: -33px;
	float: left;
}

.footer{
	height: 325px;
	background-color: #de1569;
}
.footer .layer {
	display:block;
}
.footer #footertop
{
	margin-top: 16px;
}
.footer #footertop .listfooter
{
	margin: 0px 0px 0px 195px;
}

.footer #footertop .listfooter li
{
	display: inline;
	list-style-type: none;
	padding-right: 10px;
	width: 150px;
	height: 90px;
	margin-left: 40px;
	float: left;
}
.footer #footermid {
	height: 87px;
	margin: 14px 23px 0px 23px;
}
.footer #footermid a {
	float:left;
	padding-top: 4px;
}
.footer #footermid img {
	float:right;
}
#contentPautas .pautasTop{
	/*position:absolute;*/
	margin-left: 21px;
	margin-top: 60px;
}
#contentPautas .pautasBottom{	
	margin-left: 163px;
	padding-top: 319px;
}
#contentPautas .pautas .pauta{
	width: 277px;
	height: 307px;
	float: left;
	padding-right: 12px;
}

/*#contentPautas .pautasBottom .pautaB{
	width: 277px;
	height: 307px;
	float: left;
	padding-right: 12px;
}*/

#contentPautas .pautas2Top{
	margin-left: 156px;
	margin-top: 47px;
}
#contentPautas .pautas2Bottom{	
	margin-left: 156px;
	padding-top: 335px;
}
#contentPautas .pautas2 .pauta2{
	width: 290px;
	height: 320px;
	float: left;
	padding-right: 12px;
}
#contentRecetas .jcarousel-prev img {
	position: absolute;
	top: 434px;
	left: 43px;
}
#contentRecetas .jcarousel-next img {
	position: absolute;
	top: 434px;
	left: 794px;
}
